.myorders-container {
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 50px;
  gap: 20px;
}

.myorders-title {
  font-size: xx-large;
}
