.cartitem-title {
  font-size: 13px;
  font-weight: bold;
}

.cartitem-price {
  font-size: 13px;
  font-style: italic;
}

.cartitem-quantity {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.cartitem-quantity-number {
  font-size: large;
  text-align: center;
  transform: translateY(50%);
}

.cartitem-icon {
  color: rgb(23, 35, 28);
}
