form {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5vw;
}

.account-container {
  background-image: url("../../assets/bg3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.account-title {
  padding-top: 50px;
  font-size: x-large;
}
